* {
    box-sizing: border-box;
}

/*===========
==Typografi==
=============*/

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0;
}

p {
    font-size: 1.2rem;
    padding: .2em 1em;
    margin: 0;
    color: #B7B7B7;
}

p strong {
    font-size: 2rem;
    color: #FFF;
    font-weight: 600;
}

header,
.action {
    padding: 1em 0;
}

header .btn {
    padding: 1.5em;
}

header .btn-logo{
    padding: 1.5em 3em;
}

.action .btn {
    padding: 2.5em;
}

@media (min-width: 900px) /*and (min-height: 100vh) */{
    .btn {
        margin: 0;
        padding: 2em;
    }

    p {
        font-size: 1rem;
    }

    header .btn {
        padding: 2em;
    }
    
    header .btn-logo{
        padding: 2em 3em;
    }
    
    .action .btn {
        padding: 2.5em;
    }

}

/*===========
====Layout===
=============*/

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.container {
    min-width: 358px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(#FFFFFF 30%, #B7B7B750);
}

img {
    max-width: 100%;
}


header.d-flex {
    justify-content: space-between;
}

.btn {
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 0 .7em;
}

.btn-profile {
    background: url("./images/icon-profile.png");
    background-size: 2em;
}

.btn-chat {
    background: url("./images/icon-chat.png");
    background-size: 2em;
}

.btn-logo {
    background: url("./images/logo.png");
    border-radius: 1em;
    background-size: 5em;
}

.profile-picture {
    background-color: #40404095;
    order: -1;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.profile {
    position: relative;
}

.profile p {
    position: absolute;
    bottom: 2em;
}

.badge{
    position: absolute;
    top: 4em;
    left: 1.2em;
    width: 50%;
    height: auto;
}

.action.d-flex {
    justify-content: center;
}

.btn:hover,
.btn:focus {
    background-color: #d00c8b5f;
}

.btn-close {
    background: url("./images/icon-cross.png");
    background-color: #FFF;
    background-size: 2em;
}

.btn-like {
    background: url("./images/icon-heart.png");
    background-color: #FFF;
    background-size: 2.5em;
}

.btn-close,
.btn-like,
.btn-profile,
.btn-chat,
.btn-logo {
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 650px) {
    .profile-picture {
        height: 100vh;
    }
    .badge{
        width: 20%;
    }
}


@media (min-width: 900px) /*and (min-height: 100vh) */{
    .profile-picture {
        height: 70vh;
    }
    
    .badge{
        width: 50%;
    }

    .container {
        width: 30%
    }

    .profile p {
        bottom: 2em;
    }    

    .btn-profile {
        background-size: 2em;
    }

    .btn-chat {
        background-size: 2em;
    }

    .btn-logo {
        background-size: 5em;
        padding: 1em 4em;
    }

    .btn-close {
        background-size: 1.7em;
        margin: 0 1em;
    }

    .btn-like {
        background-size: 2em;
        margin: 0 1em;
    }
}
